 

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs:ro
      - static_volume:/code/static
      - media_volume:/code/media
      - ./nginx/logs:/var/log/nginx
      
    depends_on:
      - web
    networks:
      - rider_network
    restart: always

  web:
    build: .
    environment:
      - DJANGO_SETTINGS_MODULE=driverapp.settings
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_HOST=db
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - .:/code
      - static_volume:/code/static
      - media_volume:/code/media
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - rider_network
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - rider_network
    restart: always

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    networks:
      - rider_network
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - ./certs:/etc/letsencrypt
      - ./nginx/conf.d:/etc/nginx/conf.d
    entrypoint: >
      sh -c "
      certbot certonly --webroot --webroot-path=/code \
      --email your-email@example.com \
      --agree-tos --no-eff-email \
      -d www.yawigo224.com -d yawigo224.com"
    depends_on:
      - nginx
    networks:
      - rider_network

volumes:
  mysql_data:
  redis_data:
  static_volume:
  media_volume:

networks:
  rider_network:
    driver: bridge
