# @format
version: '3.9'

services:
  # nginx:
  #   image: nginx:latest
  #   ports:
  #     - '80:80'
  #     - '443:443'
  #   volumes:
  #     - ./nginx/conf.d:/etc/nginx/conf.d
  #     - ./certs:/etc/nginx/certs:ro      # mount SSL certificates
  #     - static_volume:/code/staticfiles
  #     - media_volume:/code/media
  #     - ./nginx/logs:/var/log/nginx
  #     - ./nginx/certs:/etc/nginx/certs:ro

  #   depends_on:
  #     - web
  #   networks:
  #     - rider_network
  #   restart: always

  web:
    build: .
    command: >
      sh -c "
        python manage.py migrate &&
        daphne -b 0.0.0.0 -p 8000 driverapp.asgi:application
      "
    environment:
      - DJANGO_SETTINGS_MODULE=driverapp.settings
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    expose:
      - '8000'
    env_file:
      - .env
    ports:
      - '8080:8000'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      # db:
      #   condition: service_healthy
      # redis:
      #   condition: service_healthy
    networks:
      - rider_network
    restart: always

  # db:
  #   image: mysql:8.0
  #   container_name: rider_mysql_db
  #   environment:
  #     MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
  #     MYSQL_DATABASE: ${MYSQL_DATABASE}
  #     MYSQL_USER: ${MYSQL_USER}
  #     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  #   volumes:
  #     - mysql_data:/var/lib/mysql
  #   ports:
  #     - '3306:3306'
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   networks:
  #     - rider_network
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  # phpmyadmin:
  #   image: phpmyadmin/phpmyadmin:latest
  #   container_name: rider_phpmyadmin
  #   environment:
  #     PMA_HOST: db
  #     PMA_USER: ${MYSQL_USER}
  #     PMA_PASSWORD: ${MYSQL_PASSWORD}
  #     UPLOAD_LIMIT: 400M
  #     MAX_EXECUTION_TIME: 2000
  #     MEMORY_LIMIT: 800MB
  #   ports:
  #     - '8080:80'
  #   depends_on:
  #     - db
  #   restart: always
  #   networks:
  #     - rider_network

  # redis:
  #   image: redis:7-alpine
  #   container_name: redis_server
  #   # Remove host port mapping to avoid conflicts
  #   # - '6379:6379'
  #   healthcheck:
  #     test: ['CMD', 'redis-cli', 'ping']
  #     interval: 5s
  #     timeout: 3s
  #     retries: 5
  #   volumes:
  #     - redis_data:/data
  #   networks:
  #     - rider_network
  #   restart: always

volumes:
  mysql_data:
  static_volume:
  media_volume:
  redis_data:

networks:
  rider_network:
